.form__wrapper {
  padding: 4rem;
  /* background: #081229; */
  background: #ec5990;
  color: #fff;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}

.form .title__input,
.input__select {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  border: none;
  outline: none;
}

.form .form__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

.form .btn {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
}

.image__wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
